{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minesweeper</title>
</head>

<body>
<div id="app"></div>
{% if initialGameId %}
    <script>
        window.initialGameId = {{ initialGameId }};
    </script>
{% endif %}
<script>
    {#    document.addEventListener('contextmenu', function(e){#}
    {#        e.preventDefault();#}
    {#    })#}
</script>
{% render_bundle 'main' %}
</body>
</html>